{{ template "headbegin.tmpl" . }}
{{ template "headend.tmpl" . }}

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <h2>{{ .message }}</h2>
      </div>
    </div>
  </div>
</div>

{{ template "tail.tmpl" . }}

