{{ template "headbegin.tmpl" . }}

{{ template "headend.tmpl" . }}

<div class="container">

    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
          {{ .content | markdown }}
      </div>
    </div> <!-- row -->

{{ if .error }} 
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <h2>{{ .error }}</h2>
      </div>
    </div>
  </div> <!-- row -->
{{ end }}

</div> <!-- container -->

<script>

$(".markdown table").addClass("table table-condensed");

</script>

{{ template "tail.tmpl" . }}
