<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/style.css">
  <script src="{{ .prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ .prefix }}/static/js/bootstrap.min.js"></script>
</head>
<body>

{{template "menu.tmpl"}}

<div class="container">
 {{ range $entry := .entries }}
    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
          <h1><a href="{{ $.prefix }}/entries/{{ $entry.ID }}">{{ $entry.Title }}</a></h1>
          {{ $entry.Markdown | markdown }}
          <a id="editbutton-{{ $entry.ID }}" href="#" class="btn btn-default pull-right">Edit</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
    <hr />
  {{ end }}

{{ if .error }} 
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <h2>{{ .error }}</h2>
      </div>
    </div>
  </div>
{{ end }}

<script>

$(".markdown table").addClass("table table-condensed");

{{ range $entry := .entries }}
  $( "#editbutton-{{ $entry.ID }}" ).click(function() {
      window.location.href = "{{ $.prefix }}/entries/{{ $entry.ID }}/edit";
  });
{{ end }}

$( "#newbutton" ).click(function() {
  window.location.href = "{{ .prefix }}/newbutton";
  });

</script>

</body>
</html>

