{{ template "headbegin.tmpl" . }}

{{ template "workspacemenu.tmpl" . }}

{{ template "headend.tmpl" . }}

<div class="container">
 {{ range $entry := .entries }}
    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
          {{ $entry.Markdown | markdown }}
          <div class="files">
            {{ range $file := $entry.Files }}
               <a href="/w/{{ $.ws }}/e/{{ $entry.ID }}/f/{{ $file }}">{{ $file }}</a><br> 
            {{ end }}
          </div>
          <a href="/w/{{ $.ws }}/e/{{ $entry.ID }}" class="btn btn-default pull-right btn-sm">View</a>
          <a href="/w/{{ $.ws }}/e/{{ $entry.ID }}/edit" class="btn btn-default pull-right btn-sm btn-space">Edit</a>
          <a href="#" id="qadd{{ $entry.ID }}" class="btn btn-default pull-right btn-sm btn-space">Quick add</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
    <hr />
  {{ end }}

{{ if .error }} 
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <h2>{{ .error }}</h2>
      </div>
    </div>
  </div>
{{ end }}

<script>

$(".markdown table").addClass("table table-condensed");

function quickadd(entryid) {
   var what = prompt("what?", "");
   if (what == null) {
      return
   }
    $.ajax({
        type: "POST",
        url: "/w/{{ $.ws }}/e/"+entryid+"/quickadd",
        data: JSON.stringify({ text: what  }),
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    });
}

{{ range $entry := .entries }}
    $("#qadd{{ $entry.ID }}").click(function(){
        quickadd("{{ $entry.ID }}");
    })
{{ end }}

</script>

{{ template "tail.tmpl" . }}

