<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/dropzone.min.css">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/style.css">
  <script src="{{ .prefix  }}/static/js/jquery.min.js"></script>
  <script src="{{ .prefix  }}/static/js/bootstrap.min.js"></script>
  <script src="{{ .prefix  }}/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ .prefix  }}/static/js/dropzone.min.js" type="text/javascript"></script>

</head>

<body id="droparea">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GoPad</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ .prefix  }}/entries"/>Cancel<span class="sr-only">(current)</span></a></li>
 {{ if .editable }} 
        <li><a href="#" onclick="save()">Save</a></li>
{{ end }}
        <li><a href="{{ .prefix }}/entries/help">Help</a></li>
    </ul>
   </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <div class="row">

    <form id="mainform" class="form-horizontal" method="post" action="{{ .prefix }}/entries/{{ .entry.ID }}/edit">
      <input type="hidden" id="title" name="Title"/>
    
      <input type="hidden" id="markdown" name="Markdown"/>
      
      <div class="col-md-6 nopadding">
        <div id="editor">
        </div>
      </div>
      
      <div class="col-md-6 nopadding" id="render">
      </div>
    
    </form>

     <div class="row top-buffer">
       <div id="previews" class="dropzone-previews"></div>
     </div>

  </div>
</div>

<script>

var localStorageDraft = "draft";
var localStorageOldDraft ="changed"
var originalMarkdown = "{{ .entry.Markdown }}"
var updateMarkdownTimeout = undefined

var editor = ace.edit("editor");
editor.setTheme("ace/theme/github");
editor.getSession().setMode("ace/mode/markdown");
editor.setValue(originalMarkdown)

draft = localStorage[localStorageDraft]
if (draft != undefined){
    if (confirm('Unsaved draft found. Recover it?')) {
        editor.setValue(draft, -1) // moves cursor to the start
        editor.setValue(draft, 1) // moves cursor to the end
    }
}
editor.$blockScrolling = Infinity

function updateMarkdownTimer() {
    if (updateMarkdownTimeout != undefined) {
        window.clearTimeout(updateMarkdownTimeout)
    }
    updateMarkdownTimeout = window.setTimeout(renderMarkdown, 2000)
}

var onMarkdownChanged = function() {
  if (editor.getValue() != originalMarkdown){
    localStorage[localStorageDraft]=editor.getValue()
  }
  updateMarkdownTimer()
};

function updatesize() {
      var win = $( window ) 
      height = win.height() - 50
      $('#editor').height( height + "px");
      $('#render').height( height + "px");
      editor.resize();
}

$(window).on('resize', function(){
    updatesize()
});

onMarkdownChanged();
updatesize();
editor.getSession().on('change', onMarkdownChanged);

function save() {
    var content = editor.getValue()
    $("#markdown").val(content)
    $("#title").val(content.split("\n")[0]);
    localStorage.removeItem(localStorageDraft)
    $('#mainform').submit();
}

function renderMarkdown (  ) {
    $.ajax({
        type: "POST",
        url: "{{ .prefix  }}/markdown",
        data: JSON.stringify({ Markdown: editor.getValue()  }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
              $("#render").html(data.html);
	      $(".markdown table").addClass("table table-condensed");
        },
            failure: function(errMsg) {
            alert(errMsg);
        }
    });
}

$( window ).on('beforeunload',function() {
    draft = localStorage[localStorageDraft] 
    localStorage.removeItem(localStorageDraft)
    if (draft != undefined){
        var temp = draft
        setTimeout(function() {
            setTimeout(function() {
                 localStorage[localStorageDraft] = temp
            }, 1000);
        },1);
        return "Entry not saved, discard?"
    }
});

new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/entries/{{ .entry.ID }}/edit/files",
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: "#previews", // Define the element that should be used as click trigger to select files.
    addedfile: function(file) { console.log(file);  },
    error: function(file, response) {
        alert(response.error); 
    },
    success: function(file) {
        json = jQuery.parseJSON(file.xhr.response)
        if ( json.ico != "" ) {
            markdown = "[![]("+json.ico+")]("+json.path+")"+json.name
        } else {
            markdown ="![]("+json.path+")"
        }
        editor.insert(markdown);
    }
});

editor.session.selection.on("changeCursor", function(e) {

  var linepos = editor.renderer.$cursorLayer.getPixelPosition(0).top - editor.getSession().getScrollTop()
  var lineno = editor.selection.getCursor().row

  var el = $("[lineno="+lineno+"]")

  if (el.length > 0) {
    
    var win = $( window ) 
    var renderpos = el.position().top 


    var diff = linepos - renderpos
    console.debug("diff = "+diff)
    
    height = win.height() - 50

    $("#render").css("top",diff)
    $('#render').height( - diff + height + "px");

  }
}) 


</script>

</body>
</html>

