{{ template "headbegin.tmpl" . }}

{{ template "workspacemenu.tmpl" . }}

{{template "headend.tmpl" . }}

<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
 
<h1>Workspace files</h1>
{{ range $file := .files }}
         <a href="/w/{{ $file.Workspace }}/e/{{ $file.ID }}/f/{{ $file.Filename }}">{{ $file.Filename }}</a>
         <hr />
{{ end }}

      </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
    </div>
</div>

{{ template "tail.tmpl" . }}
