<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .prefix  }}/static/css/style.css">
  <script src="{{ .prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ .prefix }}/static/js/bootstrap.min.js"></script>
</head>
<body>

{{template "menu.tmpl"}}

<div class="container">
 {{ range $file := .files }}
    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
          <a href="{{ $.prefix  }}/files/{{ $file }}">{{ $file }}</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
    <hr />
  {{ end }}

</body>
</html>

