{{ template "head.tmpl" . }}

  <script src="https://apis.google.com/js/client.js"></script>
  <style>
    .top-buffer { margin-top:20px;  }  
  </style>
</head>
  
 <body>
    <div class="container">
    <div class="row"><div class="col-md-6 col-md-offset-3 top-buffer">
        <form id="form" method="post" action="/logingoauth2">
            <button type="button" class="btn btn-primary btn-lg btn-block"  onclick="auth();">Authorize</button>
            <input type="hidden" id="oauthtoken" name="oauthtoken">
        </form>
    </div></div>

    {{ if .error  }} 
    <div class="alert alert-danger" role="alert">
    <span class="sr-only">Error:</span>
    <h2>{{ .error  }}</h2>
    </div>
    {{ end  }}

</div>

<script>
  
  function auth() {
      var config = {
        'client_id': '{{ .googleclientid   }}',
        'scope': 'https://www.googleapis.com/auth/userinfo.email'
      };
      gapi.auth.authorize(config, function() {
        console.log('login complete');
        console.log(gapi.auth.getToken());
        $("#oauthtoken").val(gapi.auth.getToken().access_token)
        $("#form").submit()
       
      });
  }
</script>

{{ template "tail.tmpl" . }}
