<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

{{template "menu.tmpl" . }}

<div class="container">
 {{ if .results }}
 {{ range $result := .results }}
    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
          <h3>
          <a href="/w/{{ $.ws }}/e/{{ $result.ID }}">{{ $result.Title }}</a>
          </h3>
       </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">
      <pre>
         {{ range $match := $result.Matches }}{{  $match }}{{ end }}
      </pre>
      </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      </div>
  {{ end }}
  {{ end }}
    {{ if .info  }} 
     <div class="alert alert-info">
        {{ .info }}
     </div>
    {{ end }}
    {{ if .error  }} 
     <div class="alert alert-warning">
        {{ .error }}
     </div>
    {{ end }}
</div>


</body>
</html>

