{{ template "headbegin.tmpl" . }}
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="newworkspace" href="#"/>Create new</a></li>
      </ul>
    </div>

{{template "headend.tmpl" . }}

<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-10" id="text">

        <h1 style="font-family: 'Codystar', cursive;">Workspaces</h1>

        {{ range $ws := .workspaces }}
            <h3><a href="/w/{{ $ws }}">{{ $ws }}</a></h3>
        {{ end }}
      </div>
      <div class="col-lg-2 col-md-1 col-sm-1"></div>
    </div>
</div>

<script>

$("#newworkspace").click( function() {
    var ws = prompt("New workspace name?", "");
    if (ws!=null) {
        window.location.href = '/w/'+ws+'/new';
    }
})

</script>

{{ template "tail.tmpl" . }}
