hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3399ff;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#editor { 
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.top-buffer { margin-top:20px;  }

.input-large {
    height: 44px !important;
    margin-bottom: 10px !important;
    line-height: 30px !important;
    padding: 11px 19px !important;
    font-size: 30px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

img[alt=""]      { max-width: 100%;  max-height: 400px; }
img[alt="scale"] { max-width: 100%;  }
img[alt="100px"] { max-width: 100px; }
img[alt="200px"] { max-width: 200px; }
img[alt="300px"] { max-width: 300px; }
img[alt="400px"] { max-width: 400px; }
img[alt="500px"] { max-width: 500px; }
img[alt="600px"] { max-width: 600px; }

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
